<div class="login-container">
  <img class="film" src="assets/images/film.png"/>
  <div class="logo">
    Rotten Potatoes
  </div>
  <div class="desc">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia, natus praesentium quod mollitia vel, laboriosam nisi aut velit repudiandae amet doloribus minus? Aliquid suscipit, fugiat voluptatibus doloribus doloremque laborum. Aliquid, quis praesentium possimus hic fugit error odit quo aliquam consectetur culpa iusto natus commodi rerum voluptatibus ipsum dolores soluta.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" name="uname" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input type="password" name="pword" class="form-control"/>
    </div>
    <div class="btn-container">
      <button class="btn btn-dark">Login</button>
    </div>
  </div>
</div>
